<h2>Bienvenidos a la Web Del Rey Can</h2>
<p>@DateTime.Now.ToString("HH:mm")</p>
@section section{
    <p>
        Cada perro es único y los cuidados que va a necesitar también, en este artículo trabajaremos con los distintos tipos de pelaje definiendo cada uno y clasificándolos para que encuentres el que le pertenece a tu mascota.

        Aunque creas que no es importante, conocer el pelaje de tu perro te ayudará en el momento de querer cortarle el pelo, bañarle etc. También comprenderás mejor cómo regulan su temperatura y si por ende si necesitan o no un abrigo extra que les proteja. Sigue leyendo este artículo de ExpetoAnimal sobre los tipos de pelo en el perro.
    </p>
}